{{define "base"}}
<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>{{template "title" .}} - Blue Nimbus Tech</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <img src="/static/img/bnt_logo.png" alt="Blue Nimbus Tech" class="w-32 h-32 object-contain rounded-full shadow-md mx-auto">
</head>
<body class="bg-gradient-to-b from-blue-500 to-blue-700 text-white">
  <header class="py-4">
    <div class="container mx-auto px-4">
    </div>
  </header>

  <!-- navigation -->
  <!-- {{template "nav" .}} -->

  <main class="container mx-auto px-4 py-8">
    {{template "home" .}}
  </main>

  <footer class="bg-blue-800 py-4 mt-8">
    <div class="container mx-auto px-4 text-center">
      <p>Powered by <a href='https://golang.org/' class="text-blue-300 hover:text-blue-400">Go</a></p>
    </div>
  </footer>
</body>
</html>
{{end}}
